# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Environments
.env
.venv/
venv/

# Data
data/raw/
data/processed/*.csv
data/processed/*.xlsx
data/processed/*.parquet

# Power BI
*.pbix

# System files
.DS_Store
Thumbs.db
